@import "_breakpoint";

$myBlue:#0f2339;
$darkBlue:#0F1B31;

$light:#D2E4F9;
$largeFont:56px;
$fontWeight:400;
.search {
    font-size: small;
}

.button:hover{
    background-color: $myBlue;
}
footer {
    background-color: $darkBlue;
    font-size: .9rem;

    .group{
        width: 78%;
       justify-content: space-around;
    }
    
    .jobnest {
        width: 45%;
    }
}


@mixin icon-bg {
    height: 100px;
    width: 100px;
}
.icon-bg {
    @include icon-bg
}
.input::placeholder{
   color: white;
}
.step .icon-bg {
    background-color: $light;
    @include icon-bg;
    margin-left: -15px;
}
.icn {
    background-color: $myBlue;

}
.step > div{
    width:100%;
    margin-left:100px;
    display:relative
}
.connector{
    width:75%;
    display: absolute;
}
h1{
    font-size: $largeFont;
    color: $myBlue;
    
}
.avatar {
    height: 8vh;
    width: 40%;
    object-fit: fill;
}
.image {
    height: 94%;
}
.stats {
    height: 40vh;
    width: 100%;
    font-weight: $fontWeight;
    // margin-top: -2%;
}

.custom {
    border-right: none;
}

@mixin breakpoint($width){
   width: $width;

}
@mixin textColor($color:$myBlue){
    color: $color;
}
.topic {
    @include textColor
}

li{
    list-style: none;
}

@media (max-width: $sm) { 
    .button{
        @include breakpoint($width:100%);
        margin-top: 2px;
    }
    .content {
        margin-top: 0px;
        @include breakpoint($width:100%);
    }
    .avatar {
        width: 60%;
    }
    .stats {
        height: auto;
        margin-top: 12%;

    }
    .stat {
        border-left:none;
    }
    .step > div{
        margin-left:0px;
    }
    footer {
        .group{
            width: 100%;
            justify-content:space-between;
        }
        .jobnest {
            width: 100%;
        }
    }

}
// Small devices (landscape phones, 576px and up)
@media (min-width: $sm) { 
    .search{
        @include breakpoint($width:100%);
        margin-top: 2px;
    }
    .content {
        margin-top: 0px;
        @include breakpoint($width:100%);
    }
    .stat {
        border-left:none;
    }
    .step > div{
        margin-left:0px;
    }
    footer {
        .group{
            width: 100%;
            justify-content:space-between;
        }
        .jobnest {
            width: 100%;
        }
    }
   
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md) {
   .search{
        @include breakpoint($width:25%)
    }
    .content {
        margin-top: 0px;
        @include breakpoint($width:100%);
    }
    .stat {
        border-right: 1px solid wheat;
    }
    .step > div{
        margin-left:100px;
    }
    footer {
        background-color: $darkBlue;
        font-size: .9rem;
    
        .group{
            width: 78%;
            justify-content: space-around;
        }
        
        .jobnest {
            width: 45%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $lg) {
   .search{
        @include breakpoint($width:35%);
      
    }
    .filter{
        margin-right:20px;
    }
    .content {
        margin-top: 50px;
    }
    .stat {
        border-right: 1px solid wheat;
    }
    .step > div{
        margin-left:100px;
    }
    footer {
        .group{
            width: 78%;
            justify-content: space-around;
        }
        
        .jobnest {
            width: 45%;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: $xl) { 
    .search{
        @include breakpoint($width:25%)
    }
    .content {
        margin-top: 50px;
    }
    .stat {
        border-right: 1px solid wheat;
    }
    .step > div{
        margin-left:100px;
    }
    footer {
   
        .group{
            width: 78%;
            justify-content: space-around;
        }
        
        .jobnest {
            width: 45%;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }
