@import "_breakpoint";

$myBlue:#0f2339;
$darkBlue:#0F1B31;
$inputColor:#F2F2F2;

$light:#D2E4F9;
$largeFont:56px;
$fontWeight:400;
$bg:url('../assets/images/auth-bg.jpg');
$bg-contact:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/contact-bg.jpg');

.page {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-size: 18px;

}
.logo, .profile {
    height: 83px;
    width: 83px;
}
.item{
    height: 25px;
    width: 25px;
}
.search {
    font-size: small;
}

.container{
    width: 100%;
}
@mixin custombg($background) {
    background-image: $background;
    height: 85vh;
    background-position: 100% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-bg {
    @include custombg($bg)
}
.auth-bg-contact {
    @include custombg($bg-contact);
}
.inputbg {
   background-color: $inputColor;
   color: #333333;
   border-color: $inputColor;
}
.button:hover{
    background-color: $myBlue;
}
.print-agreement {
    padding: 20px;
    margin: 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
} 

footer {
    background-color: $darkBlue;
    font-size: .9rem;
    // position: absolute;
    // bottom: 0;
    .group{
        width: 78%;
       justify-content: space-around;
    }
    
    .jobnest {
        width: 45%;
    }
}


@mixin icon-bg {
    height: 100px;
    width: 100px;
}
.icon-bg {
    @include icon-bg
}
.input::placeholder{
   color: white;
}
.step .icon-bg {
    background-color: $light;
    @include icon-bg;
    margin-left: -15px;
}
.icn {
    background-color: $myBlue;

}
.step > div{
    width:100%;
    margin-left:100px;
    display:relative
}
.connector{
    width:75%;
}
h1{
    font-size: $largeFont;
    color: $myBlue;
}
h2 {
    font-size: 55px;
    line-height: 70px;
}
.avatar {
    height: 8vh;
    width: 40%;
    object-fit: contain;
}
.frontimage {
    height: 85vh;
    width: 80%;
    margin-top: 20px;
}
.image {
    height: 94%;
}
.stats {
    height: 40vh;
    width: 100%;
    font-weight: $fontWeight;
    // margin-top: -2%;
}

.custom {
    border-right: none;
}

@mixin breakpoint($width){
   width: $width;

}
@mixin textColor($color:$myBlue){
    color: $color;
}
.topic {
    @include textColor
}

li{
    list-style: none;
}
.jobwrap {
    @include breakpoint(100%)
}
.job-filter {
    height: fit-content;
}
.job-bg {
    background: $bg-contact;
    @include breakpoint(100%);
    height: 40vh;
}
.job-detail {
    @include breakpoint(85%);
}
.details {
    margin-top: -4%;
}
@media (max-width: $sm) { 
    .button{
        @include breakpoint($width:100%);
        margin-top: 2px;
    }
    .content {
        margin-top: 0px;
        @include breakpoint($width:100%);
    }
    .avatar {
        width: 60%;
    }
    .stats {
        height: auto;
        margin-top: 12%;

    }
    .stat {
        border-left:none;
    }
    .step > div{
        margin-left:0px;
    }
    footer {
        .group{
            width: 100%;
            justify-content:space-between;
        }
        .group + div {
            margin-left: 0px;
        }
        .jobnest {
            width: 100%;
        }
    }
    .auth-bg, .auth-bg-contact{
        height: 35vh;
    }
    .jobwrap {
        @include breakpoint(100%)
    }
    .job-detail {
        @include breakpoint(100%);
    }
    .details {
        margin-top: -16%;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: $sm) { 
    .search{
        @include breakpoint($width:100%);
        margin-top: 2px;
    }
    .content {
        margin-top: 0px;
        @include breakpoint($width:100%);
    }
    .stat {
        border-left:none;
    }
    .step > div{
        margin-left:0px;
    }
    .avatar {
        width: 40%;
        object-fit: contain;
    }
    footer {
        .group{
            width: 60%;
            justify-content:space-between;
        }
        .group + div {
            margin-left: 0px;
        }
        .jobnest {
            width: 100%;
        }
    }
    .auth-bg, .auth-bg-contact {
        height: 35vh;
    }
    .jobwrap {
        @include breakpoint(100%)
    }
    .job-detail {
        @include breakpoint(100%);
    }
    .details {
        margin-top: -8%;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: $md) {
   .search{
        @include breakpoint($width:25%)
    }
    .content {
        margin-top: 0px;
        @include breakpoint($width:100%);
    }
    .stat {
        border-right: 1px solid wheat;
    }
    .step > div{
        margin-left:0px;
    }
    .avatar {
        width: 30%;
        object-fit: contain;
    }
    footer {
        background-color: $darkBlue;
        font-size: .9rem;
    
        .group{
            width: 74%;
            justify-content: space-around;
        }
        .group + div {
            margin-left: 32px;
        }
        
        .jobnest {
            width: 45%;
        }
    }
    .auth-bg, .auth-bg-contact {
        height: 35vh;
    }
    .jobwrap {
        @include breakpoint(100%)
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: $lg) {
   .search{
        @include breakpoint($width:35%);
      
    }
    .filter{
        margin-right:20px;
    }
    .content {
        margin-top: 50px;
    }
    .stat {
        border-right: 1px solid wheat;
    }
    .step > div{
        margin-left:100px;
    }
    .avatar {
        width: 50%;
        object-fit: contain;
    }
    footer {
        .group{
            width: 74%;
            justify-content: space-around;
        }
        .group + div {
            margin-left: 32px;
        }
        
        .jobnest {
            width: 45%;
        }
    }
    .container {
        width: 100%;
    }
    .frontimage {
        height: 80vh;
        width: 100%;
       object-fit: contain;
    }
    .auth-bg, .auth-bg-contact {
        height: 85vh;
    }
    .job-detail {
        @include breakpoint(85%);
    }
    .details {
        margin-top: -8%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: $xl) { 
    .search{
        @include breakpoint($width:25%)
    }
    .content {
        margin-top: 50px;
    }
    .stat {
        border-right: 1px solid wheat;
    }
    .step > div{
        margin-left:100px;
    }
    .avatar {
        width: 40%;
        object-fit: contain;
    }
    footer {
   
        .group{
            width: 74%;
            justify-content: space-around;
        }
        .group + div {
            margin-left: 32px;
        }
        
        .jobnest {
            width: 30%;
        }
    }
    .frontimage {
        height: 80%;
        width: 100%;
       object-fit: contain;
    }
    .auth-bg, .auth-bg-contact {
        height: 85vh;
    }
    .jobwrap {
        @include breakpoint(100%)
    }
    .details {
        margin-top: -3%;
  
    }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .avatar {
        width: 30%;
    }
    .step > div{
        margin-left:0px;
    }
    .frontimage {
        height: 85vh;
        width: 85%;
        object-fit: contain;
    }
    .auth-bg, .auth-bg-contact  {
        height: 85vh;
    }
    .jobwrap {
        @include breakpoint(50%)
    }
    .job-detail {
        @include breakpoint(100%);
    }
    .job-detail {
        @include breakpoint(100%);
    }
    .details {
        margin-top: -6%;
        margin-left: 32%;
    }
}

